# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "girardinsamuel"
    labels:
      - "configuration"

  # Maintain dependencies for cookiecutter repo
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    # Allow up to 10 open pull requests for pip dependencies
    open-pull-requests-limit: 10

  # Maintain dependencies for generated project
  - package-ecosystem: "pip"
    directory: "{{cookiecutter.project_slug}}/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    # Allow up to 10 open pull requests for pip dependencies
    open-pull-requests-limit: 10
