cookiecutter
binaryornot

# Testing
# ------------------------------------------------------------------------------
pytest
pytest-cookies
pytest-instafail
pyyaml
masonite==2.3.18
flake8
black==20.8b1
